@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(254, 179, 37);
    --main-black: #222;
    --main-white: #fff;
    --main-spacing: 0.1rem;
    --main-transition: all 0.3s linear;
}

body {
    color: var(--main-black);
    font-family: 'Lato', sans-serif;
}

/*START OF NAVBAR */

.navbar {
    width: 100vw;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    background: linear-gradient(to left, var(--main-black) 50%, var(--main-color)50%);
    display: flex;
    z-index: 1;
}

.navbar-center {
    width: 100%;
    max-width: 1325px;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.logo {
    letter-spacing: 0.2rem;
    color: var(--main-black);
    user-select: none;
    display: flex;
    margin-left:35px;
}

.logo span {
    color: var(--main-color);
    padding-left: 30px;
    font-size: 2rem;
}

.navbar-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    color: white;
    cursor: pointer;
}

.cart-amount {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--main-color);
    padding: 0 0.25rem;
    border-radius: 30%;
    color: var(--main-black)
}

/*END OF NAVBAR */

/*START OF HERO */
.hero {
    background: url('./images/hero-image.jpg') center/cover no-repeat;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    background-color: rgba(255,255,255, 0.7);
    padding: 2rem 3rem;
    margin: 0rem 2rem;
    font-size: 1.6rem;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
}

.banner-btn {
    padding: 1rem 2rem;
    margin-top: 2rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    border: none;
    background: var(--main-color);
    opacity: 1.0;
    border-radius: 3px;
    transition: var(--main-transition);
    cursor: pointer;
}

.banner-btn:hover {
    background: var(--main-black);
    color: var(--main-color)
}

/*END OF HERO */

/*START OF PRODUCTS */

.products {
    margin: 4rem 0;
}

.products h1 {
    text-align: center;
    padding-bottom: 2rem;
    font-size: 3rem;
    text-transform: capitalize;
}

.products-center {
    width: 90vw;
    max-width: 1150px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem 2rem;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container:hover .product-img {
    opacity: 0.7;
}

.img-container:hover .add-cart-btn {
    transform: translateX(0);
}

.product-img {
    width: 100%;
    min-height: 12rem;
    display: block;
    transition: var(--main-transition);
}

.add-cart-btn {
    position: absolute;
    top: 70%;
    right: 0;
    padding: 0.5rem 1rem;
    background: var(--main-color);
    border: none;
    text-transform: uppercase;
    transform: translateX(101%);
    transition: var(--main-transition);
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.add-cart-btn:hover {
    color: var(--main-color);
    background: var(--main-black);
}

.add-cart-btn i {
    padding-right: 1rem;
}

.product-title {
    text-align: center;
    text-transform: capitalize;
    margin: 1rem 0 0.5rem 0;
    font-size: 1.5rem;
}

.product-price {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    color: var(--main-color)
}

/*END OF PRODUCTS */